@import "parallax.css";

.md-main {
    position: relative;
}

.md-main:after {
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    top: 0;
    width: 15vw;
    /*background-color: var(--md-primary-fg-color);*/
    background-image: url('back-right.svg');
    background-size: contain;
    background-repeat: repeat-y;
    background-position: right center;
}

.md-main:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    top: 0;
    width: 15vw;
    /*background-color: var(--md-primary-fg-color);*/
    background-image: url('back-left.svg');
    background-size: contain;
    background-repeat: repeat-y;
    background-position: right center;
}

@media (max-width: 1440px) {
    .md-main:before {
        display: none;
    }
}
@media (max-width: 960px) {
    .md-main:after {
        opacity: .5;
    }
}
